h1{
    color: red;
    text-align: center;
}
.obj{
    color: rgb(89, 0, 255);
}
marquee
{
    color: rgb(241, 22, 223);
    font-weight: bold;
    font-size: xx-large;
}
.per
{
    color: blue;
}
.n
{
    color: rgb(0, 224, 0);
}
.g
{
    color: deeppink;
}
.ad
{
    color: rgb(0, 224, 0);
}
.go
{
    color: deeppink;
}
.dob
{
    color: rgb(0, 224, 0) ;
}
.date
{
    color: deeppink;
}
h4
{
    color:blue;
}
.heading
{
    color: blue;
}